@charset "UTF-8";
.admin-btn{
	background-color : gray !important;
	border: 1px solid white;
	border-radius: 0.5em;
}
h3{
	margin-bottom: 5px;
}
/* 이거 수정 시 사라질 수도 있음.  js에서 처리하면 끝이라서 */
.admin-btn:hover{
	background-color: red !important;
	border: 1px solid red;
	outline: red;
}
.p-header{
	background-color: gray;
	text-align: center;
	color : white;
	cursor: pointer;
}
.member-min-td {
	width : 15%;
}
.member-detail{
	display: none;
}
.member-max-td {
	width : 35%;
}
.paging-div{
	text-align: center;
}
.paging-div ul{
	list-style: none;
	display: inline-block;
	margin-bottom: 0px;
}
.paging-div ul li{
	list-style: none;
	float : left;
	margin-right: 10px;
	margin-left: 10px;
}
.paging-div ul li a{
	color: darkgray;
	font-weight: 600;
	cursor: pointer;
	font-size: 13px;
}
.paging-div ul li label{
	font-size: 13px;
	cursor: pointer;
}
.paging-div ul li:hover{
	color: red;
}
.paging-active{
	color: red;
}
@media (max-width: 940px) {
	.paging-div ul li{
		margin-right: 5px;
		margin-left: 5px;	
	}
}
.search-div{
	display: flex;
	-webkit-justify-content: center;
	padding-bottom: 15px;
}
.search-div input[type=text]{
	border: 1px solid black !important;
	width: 12em !important;
		margin: 0;
}
.search-bar{
	border: 1px solid black !important;
	width: 7em !important;
	margin-right: 3px;
}
.select-bar{
	font-size : 12px;
}
.btn-active{
	background-color : red !important;
}
.site-title{
	color : red !important;
}
table tbody tr td{
	font-size: 12px;
}
table tbody tr td a{
	color : black;
	font-weight: bold;
	cursor: pointer;
} 
.q-id:hover{
	color: red;
}
.q-id{
	font-weight: 700;
	cursor: pointer;
}
#roomList{
    width: 25%;
    display: inline-block;
    float: right;
    padding-left: 5%;
}
#result p{
	margin-top: 0px;
    margin-bottom: 0px;
}
#roomList p{
	margin-bottom: 0.5em;
}
#sendButton{
	width: 25%;
    border: 1px solid #2b2727;
    background-color: #2b2727;
    color: white;
}
#result .span-other{
	font-size: 13px;
    background-color: white;
    padding: 6px;
    border-radius: 5px;
    display: inline-block;
    float: left;
    color: black;
}
.wrapSpan{
	display: inline-block;
	width: 100%;
}
.span-my{
	font-size: 13px;
    background-color: #f5f5ad;
    padding: 6px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    color: black;
    margin-right: 5px;
}
#result{
	height: 450px;
	max-height: 450px;
	overflow: auto;
	background-color: white;
	padding: 5px;
}
#dataInput{
	width: 75%;
	border: 1px solid black !important;
	background-color: white;
	resize: none;
}