@charset "UTF-8";
.admin-btn{
	background-color : darkgray !important;
	border: 1px solid white;
	border-radius: 0.5em;
}
/* 이거 수정 시 사라질 수도 있음.  js에서 처리하면 끝이라서 */
.admin-btn:hover{
	background-color: red !important;
	border: 1px solid red;
	outline: red;
}
.btn-active{
	background-color : red !important;
}
.site-title{
	color : red !important;
}
table tbody tr td{
	font-size: 12px;
}
table tbody tr td a{
	color : black;
	font-weight: bold;
	cursor: pointer;
} 
