@charset "UTF-8";
.small-container{
}
.div-exhibit-text{
	margin-bottom : 15px !important;	
}
.p-ex-header{
	margin-top: 50px;
	font-size: 16px;
	font-weight: 700;
}
@media(min-width :450px){
	.exhib-ul li{
		display: inline-flex;
		width: 43%;
		margin : 3%;
	}
	.exhib-ul{
	width: 100%;
	display: inline-block;
	}
}
@media(min-width :780px){
	.exhib-ul li{
		display: inline-flex;
		width: 27%;
		margin : 2%;
	}
	.exhib-ul{
		width: 700px;
		display: inline-block;
	}
}
@media(min-width :1200px){
	.exhib-ul li{
		display: inline-flex;
		width: 20%;
		margin : 2%;
	}
	.exhib-ul{
		width: 1100px;
		display: inline-block;
	}
}
.exhib-ul{
	text-align: center;
}
.btn-ex-list:hover{
	background-color: red;
	color : white;
}
.btn-ex-active{
	background-color: red;
	color : white;
}
.list-div{
	display : block;
	padding : 0px;
}
.list-img{
	width : 100%;
	height : 100%;
}
.list-div-row{
	padding-bottom: 3px !important;
}
.list-div-row, .list-div-row div p{
	cursor: pointer;
}
a-ex-flag:hover{
	color: black;
	text-decoration: none;
}
.p-title{
	font-size: 14px;
	font-weight: 700;
}
.p-blur{
	opacity: 0.7;
}
.ex-list-li{
	box-shadow: 1px 1px gray;
	padding-top: 0;
}
.div-text{
	padding-top : 10px;
	padding-left : 10px;
	width: 100%;
}
.address-div{
}

.exhibit-btn-zone{
	text-align : center;
}
.btn-red-mini{
	width: 100px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: black !important;
	cursor: pointer !important;
	color: white !important;
}
.btn-red-mini:hover, .btn-red-mini:active, .btn-red-mini:focus{
	border-color: crimson !important;
	background-color: crimson !important;
}
.img-pocket{
	border: 2px dashed gray;
	width : 300px;
	height: 400px;
	margin: 20px;
	text-align: center;
}
.img-pocket:hover{
	background-color: aliceblue;
}

.div-exhibit-text p{
    margin-top: 10px;
    font-size: 14px;
    margin-left: 20px;
}

.p-normal{
	font-weight: normal !important;
}

#fileForm{
	display: none;	
}