@charset "UTF-8";
@media(min-width :600px){
	.list-group, .btn-red {
		width: 70%;
	}
}
@media(max-width :989px){
	.list-group, .btn-red {
	width: 80%;
	
	}
}
.member-modify-div {
	width: 100%;
}

.member-modify-div-center {
	
	padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
	
}
input[type=text], input[type=password], select, textarea, password {
	width: 100%;
	resize: vertical;
	border: none;
	font-size: 15px;
}
.member-modify-label{
	color : red;
	display: none;
	width: 100%;
}

.btn-red, .btn-red-mini{
	background-color: red !important;
	cursor: pointer !important;
	color: white !important;
	height: 60px;
}
.btn-red:hover, .btn-red:active, .btn-red:focus, .btn-red-mini:hover, .btn-red-mini:active, .btn-red-mini:focus{
	border-color: crimson !important;
	background-color: crimson !important;
}

