@charset "UTF-8";
#conts {
	padding-right: 0px;
	padding-left: 0px;
   
}
.member-main-title{
	font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0px;
}
.member-mini-ul{
	width: 100%;
	text-align: center;
	display: inline-flex;
	margin-top: 1em;
}
.member-mini-ul .li-title{
	font-weight: 700;
}
.member-mini-ul li{
	width: 33.3%;
}
.member-main-info{
    font-size: 15px;
    font-weight: bold;
}
#more {
	float: right;
	font-weight: normal;
}

.member-main-span {
	float: left;
}

.member-main-img {
	width: "100px";
	height: "100px";
}
#member-main-panel-img{
    height: 297px;
}
.member-main-div-container{
	margin-bottom: 100px;
}

div.favorite {
	width: "1006px";
}
#member-main-card-title{
	font-size: 13px;
}
#member-main-card-cont{
	font-size: 11px;
}
.mb-1 {
	font-size: 15px;
}

.wrap_taken {
	padding-bottom: 100px;
}

.wrap_person {
    padding-bottom: 0px;
	
}
.btn-delete-mini {
	width: 120px !important;
    background-color: black !important;
    opacity: 0.7 !important;
    font-size: 12px;
    color: white;
}
.btn-delete-mini:hover {
	background-color: red !important;
	color: white;
}

.member-main-div{
	border : 1px solid lightgray;
	margin : 10px;
}

.member-main-text{
	font-weight: bold;
}
.btn-mypage-btn{
	font-size : 16px;
	font-weight : 700;	
}
.btn-mypage:hover {
	color : white;
	background-color: black;
}
.mypage-A{
	font-weight: 700;
}
.div-mypage h3{
	font-weight: 700;
}
.thin-line{
	margin-top : 10px;
	margin-bottom : 10px;
	border : 0.5px solid whitesmoke;
}
.div-mypage{
    height: 400px;
	background-color: floralwhite;
	padding : 3%;
}
.btn-red-mini{
	background-color: black !important;
	cursor: pointer !important;
	color: white !important;
	width: 30%;
}
.btn-red-mini:hover, .btn-red-mini:active, .btn-red-mini:focus{
	border-color: crimson !important;
	background-color: crimson !important;
}
.btn-mypage{
	font-size: 13px;
    height: 40px !important;	
}

